* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.rotating-circle {
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
    margin-bottom: 45px;
}

.loading-icon {
    position: absolute;
    width: 300px; /* Ukuran awal ikon di dalam lingkaran */
    height: 300px;
}

.notif-icon {
    width: 600px; /* Ukuran yang diinginkan untuk ikon notifikasi */
    height: 200px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
