* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    height: 650px;
    width: 1350px;
}

.image-section img {
    width: 680px;
    height: 572px;
    margin-top: 38px;
    margin-left: 30px;
}

.login-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}
.footer {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.footer a {
    color: #ff8c00;
    text-decoration: none;
}
h1 {
    margin-bottom: 50px;
    font-weight: bolder;
}

.icon img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.input-group {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 0.9em;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #FF9F1C;
    border-radius: 50px;
    background-color: rgba(255, 159, 28, 0.25);
    margin-top: 5px;
}
#loginButton {
    padding: 12px 24px;
    background-color: #FF9F1C; /* Warna latar belakang */
    color: white; /* Warna teks */
    font-size: 16px; /* Ukuran teks */
    font-weight: bold; /* Tebal teks */
    border: none; /* Menghilangkan border */
    border-radius: 50px; /* Membuat sudut menjadi bulat */
    cursor: pointer; /* Menampilkan cursor pointer saat hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
    transition: background-color 0.3s ease; /* Animasi transisi saat hover */
    margin-left: 100px;
    margin-top: 15px;
}

#loginButton:hover {
    background-color: #e67e00; /* Warna saat hover */
}

#loginButton:active {
    background-color: #cc7a00; /* Warna saat tombol ditekan */
    transform: scale(0.98); /* Efek zoom kecil saat ditekan */
}
.notification {
    position: fixed;
    top: -50px;
    right: 5px;
    background: none;
    border: none;
    padding: 0;
    z-index: 1000;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-button img {
    width: 350px;
    height: 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
